<launch>
<param name="/nxt/axis_length" value="0.08" />
<param name="/nxt/wheel_radius_l" value="0.025"/>
<param name="/nxt/wheel_radius_r" value="0.025"/>
<param name="/nxt/enc_per_turn_left" value="520"/>
<param name="/nxt/enc_per_turn_right" value="520"/>
<param name="/nxt/gear_ratio_left" value="0.958"/>
<param name="/nxt/gear_ratio_right" value="1"/>
<param name="/nxt/max_speed" value="90"/>
<param name="/nxt/min_speed" value="70"/>
<param name="/nxt/max_turn_speed" value="66"/>
<param name="/nxt/tol_trans" value="0.05"/>
<param name="/nxt/tol_rot" value="0.1"/>
<param name="/nxt/turning_adaption" value="1"/>

<node pkg="nxt_control" type="nxt_control_node" name="nxt_control" output="screen" respawn="true"/>
<node pkg="brain" type="brain_node" name="brain" launch-prefix="xterm -e" output="screen"/>

</launch>


